force-app/main/default/flows/Componente_CNPJ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConsultarCNPJ</name>
        <label>Consultar CNPJ</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <actionName>CnpjService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ShowInfo</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DigiteCNPJ</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CnpjService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decis_o_sobre_retorno</name>
        <label>Decisão sobre retorno</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>DisplayError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Erro</defaultConnectorLabel>
        <rules>
            <name>Sucesso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsultarCNPJ.sucesso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLead</targetReference>
            </connector>
            <label>Sucesso</label>
        </rules>
    </decisions>
    <decisions>
        <name>RegistrosExistentes</name>
        <label>Registros Existentes</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ConsultarCNPJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não há</defaultConnectorLabel>
        <rules>
            <name>ExisteRegistros</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getLeads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadsOrAccounts</targetReference>
            </connector>
            <label>Existe registros?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Due Date of the task</description>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>today() +7</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Entrar em contato com o cliente para convertê-lo em oportunidade!&quot;</expression>
    </formulas>
    <interviewLabel>Componente CNPJ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Componente CNPJ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AssignTask</name>
        <label>AssignTask</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>ScreenSuccess</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CreateLead</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateLead</name>
        <label>Create Lead</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>AssignTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>ConsultarCNPJ.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cep__c</field>
            <value>
                <elementReference>ConsultarCNPJ.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cnpj__c</field>
            <value>
                <elementReference>DigiteCNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>ConsultarCNPJ.razaoSocial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>ConsultarCNPJ.complemento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ConsultarCNPJ.razaoSocial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logradouro__c</field>
            <value>
                <elementReference>ConsultarCNPJ.logradouro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Municipio__c</field>
            <value>
                <elementReference>ConsultarCNPJ.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>ConsultarCNPJ.nomeFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero__c</field>
            <value>
                <elementReference>ConsultarCNPJ.numero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RazaoSocial__c</field>
            <value>
                <elementReference>ConsultarCNPJ.razaoSocial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoCadastral__c</field>
            <value>
                <elementReference>ConsultarCNPJ.situacaoCadastral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone__c</field>
            <value>
                <elementReference>ConsultarCNPJ.telefone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>ConsultarCNPJ.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cnaefiscaldescricao__c</field>
            <value>
                <elementReference>ConsultarCNPJ.cnaePrincipalDescricao</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RegistrosExistentes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DigiteCNPJ</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLeads</name>
        <label>getLeads</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cnpj__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DigiteCNPJ</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Consultar CNPJ</description>
        <name>DigitarCNPJ</name>
        <label>Digitar CNPJ</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getLeads</targetReference>
        </connector>
        <fields>
            <name>DigiteCNPJ</name>
            <dataType>String</dataType>
            <fieldText>Digite o seu número do CNPJ:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Procurar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayError</name>
        <label>Display Error</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;CNPJ consultado &lt;span style=&quot;color: rgb(255, 0, 30);&quot;&gt;não existe na base.&lt;/span&gt; Por favor consulte outro!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LeadsOrAccounts</name>
        <label>LeadsOrAccounts</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TExt</name>
            <fieldText>&lt;p&gt;Este Cliente&lt;span style=&quot;color: rgb(109, 35, 248);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(109, 35, 248);&quot;&gt;já existe&lt;/strong&gt; na Base de Dados&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowAccount</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Accounts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>getAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a980&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShowLead</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Lead</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Leads</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getLeads</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>getLeads</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RazaoSocial__c&quot;,&quot;guid&quot;:&quot;column-07d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Razão Social&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSuccess</name>
        <label>ScreenSuccess</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Seu Lead foi criado com &lt;/span&gt;&lt;span style=&quot;color: rgb(109, 35, 248); font-size: 16px;&quot;&gt;Sucesso&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Concluir</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowInfo</name>
        <label>Show Info</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Decis_o_sobre_retorno</targetReference>
        </connector>
        <fields>
            <name>Texts</name>
            <fieldText>&lt;p&gt;Estes são os dados do &lt;strong style=&quot;color: rgb(109, 35, 248);&quot;&gt;Lead&lt;/strong&gt; que você deseja gerar?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cnpj</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;CNPJ:&lt;/strong&gt; {!DigiteCNPJ}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RazaoSocial</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Razão Social:  &lt;/strong&gt;{!ConsultarCNPJ.razaoSocial}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NomeFantasia</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Nome Fantasia: &lt;/b&gt;{!ConsultarCNPJ.nomeFantasia}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Lead</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DigitarCNPJ</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
