force-app/main/default/flows/ConverterLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RedirectToOpp</name>
        <label>RedirectToOpp</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>NavigateToNewRecord</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CreateOpportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NavigateToNewRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>BillingAddress</name>
        <dataType>String</dataType>
        <expression>{!GetLead.Logradouro__c} &amp;  &apos; &apos;  &amp; {!GetLead.Numero__c}</expression>
    </formulas>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 30</expression>
    </formulas>
    <formulas>
        <name>MailingAddress</name>
        <dataType>String</dataType>
        <expression>{!GetLead.Logradouro__c} &amp; &apos; &apos; &amp; {!GetLead.Numero__c}</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>&quot;Projeto - &quot; &amp;  TEXT(TODAY()) &amp; &quot; - &quot; &amp;  {!GetLead.RazaoSocial__c}</expression>
    </formulas>
    <interviewLabel>Converter Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Converter Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>CreateContact</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>GetLead.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>GetLead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>GetLead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>BillingAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>GetLead.Cnpj__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetLead.RazaoSocial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>GetLead.NomeFantasia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>GetLead.Telefone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RazaoSocial__c</field>
            <value>
                <elementReference>GetLead.RazaoSocial__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateContact</name>
        <label>Create Contact</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>GetLead.Telefone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>GetLead.RazaoSocial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>GetLead.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>GetLead.Cep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>GetLead.UF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>MailingAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>GetLead.RazaoSocial__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CreateContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualificação</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetLead</name>
        <label>Get Lead</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLead</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>TelaSucesso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>ConvertLead</name>
        <label>Convert Lead</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
        <fields>
            <name>Convert</name>
            <fieldText>&lt;p&gt;Para Converter o &lt;span style=&quot;color: rgb(109, 35, 248);&quot;&gt;Lead&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, selecione o &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;botão &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;abaixo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Converter</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaSucesso</name>
        <label>TelaSucesso</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectToOpp</targetReference>
        </connector>
        <fields>
            <name>SuccessScreen</name>
            <fieldText>&lt;p&gt;Cliente, Conta e Oportunidade foram geradas com &lt;span style=&quot;color: rgb(115, 0, 243);&quot;&gt;Sucesso!!&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ConvertLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
