force-app/main/default/flows/CreateProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignProjeto</name>
        <label>AssignProjeto</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AssignProjetos.Projeto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateProject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignProjetos.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverAlocacao.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaAlocacao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignProjetos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignUpdateDevs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUpdateDevs</name>
        <label>AssignUpdateDevs</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AssignDevs.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignDevs.EstaAlocado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignDevs.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverAlocacao.Desenvolvedor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDevs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignDevs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverAlocacao</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CreateProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateProject</label>
    <loops>
        <name>LoopOverAlocacao</name>
        <label>LoopOverAlocacao</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>GetAlocacaoDevs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignProjeto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAlocacao</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateProject</name>
        <label>CreateProject</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>GetAlocacaoDevs</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustoEstimadoProjeto__c</field>
            <value>
                <elementReference>$Record.CustoEstimadoProjeto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataFim__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataInicio__c</field>
            <value>
                <elementReference>$Record.DatadeInicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tecnologia__c</field>
            <value>
                <elementReference>$Record.Tecnologia_do_Projeto__c</elementReference>
            </value>
        </inputAssignments>
        <object>Projeto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAlocacaoDevs</name>
        <label>GetAlocacaoDevs</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverAlocacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AlocacaoDesenvolvedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAlocacao</name>
        <label>UpdateAlocacao</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>UpdateDevs</targetReference>
        </connector>
        <inputReference>ListaAlocacao</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDevs</name>
        <label>UpdateDevs</label>
        <locationX>176</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>UpdateProjetoOpp</targetReference>
        </connector>
        <inputReference>ListaDevs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>CreateProject</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProjetoOpp</name>
        <label>UpdateProjetoOpp</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Projeto__c</field>
            <value>
                <elementReference>CreateProject</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateOpp</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.RecordType.DeveloperName} = &apos;Projetos&apos;,
{!$Record.DocumentosAssinados__c} = true
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignDevs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Desenvolvedor__c</objectType>
    </variables>
    <variables>
        <name>AssignProjetos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AlocacaoDesenvolvedor__c</objectType>
    </variables>
    <variables>
        <name>ListaAlocacao</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AlocacaoDesenvolvedor__c</objectType>
    </variables>
    <variables>
        <name>ListaDevs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Desenvolvedor__c</objectType>
    </variables>
</Flow>
