force-app/main/default/flows/DevsSameTech.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignDevsLista</name>
        <label>AssignDevsLista</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>DevsSelecionados</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Desenvolvedores.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverSelection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOnePerTime</name>
        <label>AssignOnePerTime</label>
        <locationX>264</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>AssignAlocacaoDevs.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignAlocacaoDevs.Desenvolvedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverSelection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListAssignDevs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignAlocacaoDevs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverSelection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToList</name>
        <label>AssignToList</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DevsSameTech</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopDevs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopDevs</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Has_Same_Tech</name>
        <label>Has Same Tech</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>LoopDevs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_tech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopDevs.Tecnologia__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>GetOpp.Tecnologia_do_Projeto__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToList</targetReference>
            </connector>
            <label>Same tech</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DevsSameTech {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DevsSameTech</label>
    <loops>
        <name>LoopDevs</name>
        <label>LoopDevs</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>getDevsDisponiveis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Same_Tech</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SameTechs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverSelection</name>
        <label>LoopOverSelection</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <collectionReference>DevsSelecionados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOnePerTime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateAlocacaoDevs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAlocacaoDevs</name>
        <label>CreateAlocacaoDevs</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>UpdateOpp</targetReference>
        </connector>
        <inputReference>ListAssignDevs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getDevsDisponiveis</name>
        <label>getDevsDisponiveis</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopDevs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EstaAlocado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Desenvolvedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpp</name>
        <label>GetOpp</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDevsDisponiveis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Negociação</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>escolha</name>
        <label>escolha</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetOpp</targetReference>
        </connector>
        <fields>
            <name>Escolher</name>
            <fieldText>&lt;p&gt;Escolha os desenvolvedores para este projeto:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Próximo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SameTechs</name>
        <label>SameTechs</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignDevsLista</targetReference>
        </connector>
        <fields>
            <name>Desenvolvedores</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Desenvolvedor__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Desenvolvedores</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>DevsSameTech</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-896a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Desenvolvedor Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Tecnologia__c&quot;,&quot;guid&quot;:&quot;column-205e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Tecnologia&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>DevsSameTech</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>escolha</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignAlocacaoDevs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AlocacaoDesenvolvedor__c</objectType>
    </variables>
    <variables>
        <name>AssignUpdateDev</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Desenvolvedor__c</objectType>
    </variables>
    <variables>
        <name>DevsSameTech</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Desenvolvedor__c</objectType>
    </variables>
    <variables>
        <name>DevsSelecionados</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Desenvolvedor__c</objectType>
    </variables>
    <variables>
        <name>ListAssignDevs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AlocacaoDesenvolvedor__c</objectType>
    </variables>
    <variables>
        <name>ListUpdateDevs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Desenvolvedor__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
